<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

 <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet sapien eget erat vehicula molestie vitae in elit. Nullam maximus imperdiet leo, nec consequat nulla consectetur nec. Cras pulvinar iaculis convallis. Donec at dui vel ipsum maximus aliquet. Morbi quis consectetur purus. Quisque vitae quam vehicula, sodales nulla id, congue tellus. Aliquam elementum enim consequat volutpat pulvinar. Donec vel urna sed nisl consequat facilisis in quis lorem. Curabitur feugiat pellentesque orci, gravida tincidunt tortor varius a. Etiam a velit diam. Donec non mauris sed ex pulvinar pulvinar sed pretium purus. Fusce vel lacus felis. Aliquam elementum, mi in egestas luctus, augue ipsum iaculis elit, at vulputate ante neque eget eros. Praesent venenatis ex ac tellus pulvinar, vitae fermentum ligula mattis. Donec placerat vitae dui id efficitur.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'erin.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Erin Morrissey</h2>
    <br />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet sapien eget erat vehicula molestie vitae in elit. Nullam maximus imperdiet leo, nec consequat nulla consectetur nec. Cras pulvinar iaculis convallis. Donec at dui vel ipsum maximus aliquet. Morbi quis consectetur purus. Quisque vitae quam vehicula, sodales nulla id, congue tellus. Aliquam elementum enim consequat volutpat pulvinar.
    </p>
  </div>


  <br class="clear" />
  <br />
  <br />
  <br />
  <br />


</div>