<h2 id="title">
  You might be from the Midwest if...
  <span>reason no. <%= @quote.id %></span>
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="pull-right"> — <%= @quote.author %></h2>

<%= link_to "This isn't enough, I need more!", root_path, class: 'next-quote' %>

<br class="clear" />
<br />
<br />
<br />