@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600);



html { 
  background: url(/assets/midwest-corn-field.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}

#maincontainer {
  background-color: rgba(255, 255, 255, 0.8); /* 80% white */
  padding-left: 10%;
  padding-right:10%;
}

.clear {
  clear:both;
}

hr {
  clear:both;
}

a.logo img {
  max-width: 150px;
}

.logo:hover {
  text-decoration: none;
}

.links {
  float:right;
  margin-top:3px;
  margin-bottom:20px;
}

@media (max-width: 750px) {
  .links {
    margin-bottom:40px;
  }
}

.links a {
  color:#333333;
  font-size:18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:600;
}

.links a:hover {
  border-top: 5px solid #333333;
  text-decoration: none;
}

.links a:focus {
  text-decoration: none;
}

#title {
  font-family: 'chunkfiveroman', sans-serif;
  font-size:60px;
  padding-top:30px;
}

@media (max-width: 750px) {
  #title {
    font-size:50px;
  }
}

#title span {
  display:block;
  font-size:20px;
  color:#999999;
  padding:40px 0 0;
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:55px;
  font-weight:400;
  margin-top:0;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.next-quote {
  font-family: 'Source Sans Pro', sans-serif;
  font-size:20px;
  margin-top:40px;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align:right;
  font-size:12px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

h4.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.modal-body {
  font-size: 18px;
}

.modal-body abbr[title] {
  border-bottom:none;
}

::selection {
  background-color: #FF0000;
}