@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600);



html { 
  background: url(/assets/midwest-corn-field.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: none;
}

#maincontainer {
  background-color: rgba(255, 255, 255, 0.8); /* 80% white */
  padding-left: 10%;
  padding-right:10%;
}

.clear {
  clear:both;
}

hr {
  clear:both;
}

.logo:hover {
  text-decoration: none;
}

.links {
  padding-top:26px;
}

.links a {
  color:black;
  font-size:25px;
  border-bottom:1px solid #dfdfdf;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  border-top:9px solid #222222;
}

#title {
  font-family: 'chunkfiveroman', sans-serif;
  font-size:68px;
}
#title span {
  display:block;
  font-size:28px;
  color:#999999;
  padding-top:20px;
}

h1 {
  font-family: 'chunkfiveroman', sans-serif;
  font-size:48px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
}

.next-quote {
  color:red;
  font-family: 'Source Sans Pro', sans-serif;
  font-size:20px;
}

.footer-blurb {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
  font-style: italic;
  text-align:right;
  font-size:12px;
}

@media (max-width: 750px) {
  .footer-blurb {
    text-align: left;
  }
}

.about {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}

.modal {
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", Baskerville, "Bookman Old Style", "Bitstream Charter", "Nimbus Roman No9 L", Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", "Century Schoolbook", "Century Schoolbook L", Georgia, serif;
}


::selection {
  background-color: #f84342;
}